## 1-2 개발환경 중 하나인 우분투에 대해 검색해보자
우분투란?

인공지능 연구개발을 위해 주로 사용하는 운영체제는 바로 우분투(Ubuntu)입니다. 

우분투는 리눅스(Linux) 배포판의 한 종류인데, 구글을 비롯한 수많은 회사에서 표준 배포환경으로 사용하고 있고 많은 개발자들이 애용하고 있어서 우리가 앞으로 사용하게 될 텐서플로우(Tensorflow) 등 머신러닝 라이브러리들이 가장 안정적으로 구동되는 환경이기도 합니다. 


리눅수는 리눅스 커널을 기반으로 구축된 무료 오픈 소스 소프트웨어 운영 체제 제품군이다. 우분투는 데비안 기반의 무료 오픈 소스 운영 체제 및 리눅스 배포판이다.
리눅스가 핵심 운영 체제이고, 우분투는 리눅스 배포본인 운영체제이다.
Linus Torvalds는 Linux의 초기 개발자였다. Linux 커뮤니티는 OS 개발을 지원할 수 있다. Canonical Ltd는 우분투를 개발했으며 우분투 공동체는 개발을 지원할 수 있다.


## 1-3 cloud shell과 cloud jupyter 
shell = 터미널 (cmd창?)
커널과 인터페이스가 되는거?

중요한건 커널에 명령어를 입력하면 동작이 실행된다

# 코딩도장 

## 10.2 리스트/튜플 unpacking에 대해 설명할 수 있다. 

- 자료형; 리스트와 튜플

- 리스트 패킹(list packing)과 튜플 패킹(tuple packing)은 변수에 리스트 또는 튜플을 할당하는 과정
- 리스트와 튜플의 요소를 변수 여러 개에 할당하는 것을 리스트 언패킹(list unpacking), 튜플 언패킹(tuple unpacking)

In [ ]:
#list 대괄호
person1 = ['james', 17, 175.3, True]

a,b,c,d = person1
print(a,b,c,d)
print(type(a))

#tuple 괄호
person2 = ('Celine', 57, 145.3, True)
e,f,g,h = person2
print(e,f,g,h)
print(type(e))

james 17 175.3 True
<class 'str'>
Celine 57 145.3 True
<class 'str'>

## 11.1 시퀀스 자료형의 공통 기능에 대해 설명할 수 있다. 

- 우리가 기본적으로 익숙한 자료형 (리스트, 튜플, range, 문자열) 모두 시퀀스(연속적이다) 자료형이다.bytes, bytearray 도 존재

In [ ]:
# # 11.1.1 특정값이 있는지 확인하기 (리스트, 튜플, range, 문자열)
# ## 값 in 시퀀스 객체
# a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
# print(30 in a)

# ## 값 not in 시퀀스 객체
# a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
# print(100 not in a)


# # 11.1.2  시퀀스 객체 연결하기
# ## 다만 range는 튜플을 이용해서 연결, 같은 자료형끼리의 연산만 가능
# a = [0, 10, 20, 30]
# b = [9, 8, 7, 6]
# print(a + b)

# print('Hello, ' + 'world!')


# 11.1.3  시퀀스 객체 반복하기
print([0, 10, 20, 30] * 3)
print('Hello, ' * 3)
#list(range(0, 5, 2)) * 3
print(tuple(range(0, 5, 2)) * 3)

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]
Hello, Hello, Hello,
(0, 2, 4, 0, 2, 4, 0, 2, 4)

## 11.2 시퀀스 객체의 요소 개수를 구할 수 있다. 
- 길이(=element의 갯수)를 구하는 `len()`을 활용한다

In [ ]:
#리스트
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(len(a))
#튜플
b = (38, 76, 43, 62, 19)
print(len(b))
#range
print(len(range(0, 10, 2))) #0,2,4,6,8
#문자열 (공백 포함)
hello = 'Hello, world!'
len(hello)

#문자열의 바이트 수 
# utf-8 인코딩으로 (바이트 수를) 저장
hello = '안녕하세요'
len(hello.encode('utf-8'))

10
5
5

15

## 11.4 인덱스를 활용한 슬라이스의 사용법을 설명할 수 있다.

In [ ]:
#인덱스
a = [38, 21, 53, 62, 19]
b = (38, 21, 53, 62, 19)
print(a[0],b[0]) #0부터 시작
print(a[-1],b[-1]) #음수는 -1부터

38 38
19 19

In [ ]:
#슬라이싱
#range와 마찬가지로 마지막 인덱스는 노카운트
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(a[4:7]) 

#증가폭 설정 가능
print(a[2:8:3]) #2,5 

#전체
print(a[:])
print(a[7:])

#음수 = 방향
print(a[7::-1])

#element 추가
a[2:5] = ['a'] 

#elemet 삭제
del a[2:5] 
print(a)

[40, 50, 60]
[20, 50]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[70, 80, 90]
[70, 60, 50, 40, 30, 20, 10, 0]
[0, 10, 70, 80, 90]

## 12.2.1 딕셔너리 키에 접근하고 값을 할달하는 방법

In [ ]:
user1 = { "name": "이수연", "email": "yololife.sy@gmail.com", "gender": "female" }
user1

{'name': '이수연', 'email': 'yololife.sy@gmail.com', 'gender': 'female'}

In [ ]:
dict() #{} 빈 딕셔너리

{}

In [ ]:
#데이터 추가
user1['mbti']= "ESTJ/ENTP"
user1

{'name': '이수연',
 'email': 'yololife.sy@gmail.com',
 'gender': 'female',
 'mbti': 'ESTJ/ENTP'}

In [ ]:
user1['mbti']='ENTP'

In [ ]:
user1

{'name': '이수연',
 'email': 'yololife.sy@gmail.com',
 'gender': 'female',
 'mbti': 'ENTP'}

In [ ]:
#value 접근 : dictionary[키]
user1['email']

'yololife.sy@gmail.com'

In [ ]:
user1['mail'] #존재하지 않는 키에 대해서는 에러

KeyError: ignored

get 메서드 말고 다른 방법은

setdefault 를 쓰셔도 된다고 알고있어요

setdefault

딕셔너리를 잘 배워두면

나중에

https://corpus.korean.go.kr/

이런 데이터셋을 전처리할때

활용하실수있습니당

In [ ]:
user1.get("아무키", "none") #default 값 생성 가능

'none'

In [ ]:
#데이터 없데이트
user1['name']='Celine'
user1

{'name': 'Celine',
 'email': 'yololife.sy@gmail.com',
 'gender': 'female',
 'mbti': 'ENTP'}

In [ ]:
#해당키가 존재하는지 확인
'name' in user1 #키

True

In [ ]:
#Q. value는 어떻게 접근? 
'Celine' in user1

False

In [ ]:
#A. value를 리스트로 만들자
'Celine' in list(user1.values())

True

In [ ]:
list(user1.values())

['Celine', 'yololife.sy@gmail.com', 'female', 'ENTP']

In [ ]:
type(user1.values())

dict_values

## dictionary 병합

In [ ]:
dic1 = {"A": 1, "B": 2}
dic2 = {"B": 3, "C": 4}

In [ ]:
dic1+dic2

TypeError: ignored

In [ ]:
# Python 3.9 버전에서 사전에 추가된 | 연산자를 활용해서 같은 효과를 낼 수도 있습니다.
#{'A': 1, 'B': 3, 'C': 4}
dic1 |= dic2

TypeError: ignored

In [ ]:
import sys 
print(sys.version)

3.7.15 (default, Oct 12 2022, 19:14:55)
[GCC 7.5.0]

## 12.2.2 dictionary가 활용될 수 있는 예

#### 루프문

In [ ]:
users = {'name': ['Celine', 'Mark'], 'email': ['yololife.sy@gmail.com','test@gmail.com'], 'gender': ['female', 'male']}

In [ ]:
#키와 값을 터플의 형태로 한 번에 얻을 수 있어서 좀 더 깔끔하게 루프문 작
users.items()

dict_items([('name', ['Celine', 'Mark']), ('email', ['yololife.sy@gmail.com', 'test@gmail.com']), ('gender', ['female', 'male'])])

In [ ]:
for key, value in users.items():
  print(f"{key}: {value}")

name: ['Celine', 'Mark']
email: ['yololife.sy@gmail.com', 'test@gmail.com']
gender: ['female', 'male']

#### dictionary -> dataframe

In [ ]:
import pandas as pd 

pd.DataFrame.from_dict(users)

     name                  email  gender
0  Celine  yololife.sy@gmail.com  female
1    Mark         test@gmail.com    male

## 12.2.3 key:value 시스템의 처리속도가 빠른 이유?

선형적(차례대로)으로 찾지 않고 키로 바로 value를 찾을 수 있기때문에 처리 속도가 빠르다. 

- https://www.youtube.com/watch?v=HraOg7W3VAM

In [ ]:
### 14.3/14.4 중첩 if 조건문의 실행순서를 설명할 수 있다. 
#### indent 따라 if-elif-else 순서대로 따라감

- visualization : https://pythontutor.com/render.html#mode=display

In [ ]:
x = int(input())

if x >= 10:
    print('10 이상입니다.')
 
    if x == 15:
        print('15입니다.')
 
    if x == 20:
        print('20입니다.')

22
10 이상입니다.

### 15.1 음료수 자판기 예시를 효율적인 조건문 코드로 변경해라



```
if 콜라 버튼을 눌렀다면:
    콜라를 내보냄
elif 사이다 버튼을 눌렀다면:
    사이다를 내보냄
elif 환타 버튼을 눌렀다면:
    환타를 내보냄:
else:
    제공하지 않는 메뉴
```


for : 반복가능한(iterable) 요소들을 뽑아서 출력하는 함수
조ㅑㅣㄷ

In [ ]:
a = range(100)
type(a)
dir(a) #__iter__ 객체

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [ ]:
a

range(0, 100)

In [ ]:
x = [1,2,3]
y=iter(x) #iterator로 만들어준 상태

In [ ]:
dir(x) #iterable 하다 판단 가능 init, len

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
next(y)

1

In [ ]:
next(y)

2

In [ ]:
next(y)

3

In [ ]:
dir(y) #next함수가 있으면 iterator

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

### unit 19 중첩 루프

In [ ]:
#계단식 별 출력 
for i in range(1,5+1):
  for j in range(i):
    print('*', end = '')
  print()

*
**
***
****
*****

In [ ]:
for i in range(5):
    for j in range(5):
        if i>=j:
            print('*', end='')
    print()

*
**
***
****
*****

In [ ]:
# 별2
for i in range(1,5+1):
  for j in range(5+1-i):
    print('*', end = '')
  print()

*****
****
***
**
*

In [ ]:
# 별3 
# https://blog.naver.com/PostView.nhn?isHttpsRedirect=true&blogId=imbin_&logNo=221385624266&categoryNo=23&parentCategoryNo=0 
for i in range(1,5+1):
  for j in range(5-i):
    print()

In [ ]:
#사각형 출력
for i in range(5):
  for j in range(5):
    print('*', end='')
  print()

*****
*****
*****
*****
*****

In [ ]:
#사이즈 조정 가능한 사각형 출력
가로, 세로 = map(int, input().split())

for i in range(세로): #시침
  for j in range(가로): #분침(먼저 돌아가는 루프)
    print('*', end = '')
  print()

5 3
*****
*****
*****

In [ ]:
for i in range(1,100+1):
  if i % 3 == 0:
    print('Frizz')
  if i % 5 == 0:
    print('Buzz') 
  ## 공배수는? 
  else: 
    print(i)

1
2
Frizz
4
Buzz
Frizz
7
8
Frizz
Buzz
11
Frizz
13
14
Frizz
16
17
Frizz
19
Buzz
Frizz
22
23
Frizz
Buzz
26
Frizz
28
29
Frizz
31
32
Frizz
34
Buzz
Frizz
37
38
Frizz
Buzz
41
Frizz
43
44
Frizz
46
47
Frizz
49
Buzz
Frizz
52
53
Frizz
Buzz
56
Frizz
58
59
Frizz
61
62
Frizz
64
Buzz
Frizz
67
68
Frizz
Buzz
71
Frizz
73
74
Frizz
76
77
Frizz
79
Buzz
Frizz
82
83
Frizz
Buzz
86
Frizz
88
89
Frizz
91
92
Frizz
94
Buzz
Frizz
97
98
Frizz
Buzz

In [ ]:
for i in range(1,100+1):
  if i % 3 == 0:
    print('Frizz')
  elif i % 5 == 0:
    print('Buzz')
  else: 
    print(i)

1
2
Frizz
4
Buzz
Frizz
7
8
Frizz
Buzz
11
Frizz
13
14
Frizz
16
17
Frizz
19
Buzz
Frizz
22
23
Frizz
Buzz
26
Frizz
28
29
Frizz
31
32
Frizz
34
Buzz
Frizz
37
38
Frizz
Buzz
41
Frizz
43
44
Frizz
46
47
Frizz
49
Buzz
Frizz
52
53
Frizz
Buzz
56
Frizz
58
59
Frizz
61
62
Frizz
64
Buzz
Frizz
67
68
Frizz
Buzz
71
Frizz
73
74
Frizz
76
77
Frizz
79
Buzz
Frizz
82
83
Frizz
Buzz
86
Frizz
88
89
Frizz
91
92
Frizz
94
Buzz
Frizz
97
98
Frizz
Buzz

In [ ]:
for i in range(1,101):
  if i%2==0 :
    print('Fizz')
  elif i%11==0:
    print('Buzz')
  elif i%2==0 and i%11==0:
    print('FizzBuzz')
  else:
    print(i)

1
Fizz
3
Fizz
5
Fizz
7
Fizz
9
Fizz
Buzz
Fizz
13
Fizz
15
Fizz
17
Fizz
19
Fizz
21
Fizz
23
Fizz
25
Fizz
27
Fizz
29
Fizz
31
Fizz
Buzz
Fizz
35
Fizz
37
Fizz
39
Fizz
41
Fizz
43
Fizz
45
Fizz
47
Fizz
49
Fizz
51
Fizz
53
Fizz
Buzz
Fizz
57
Fizz
59
Fizz
61
Fizz
63
Fizz
65
Fizz
67
Fizz
69
Fizz
71
Fizz
73
Fizz
75
Fizz
Buzz
Fizz
79
Fizz
81
Fizz
83
Fizz
85
Fizz
87
Fizz
89
Fizz
91
Fizz
93
Fizz
95
Fizz
97
Fizz
Buzz
Fizz

In [ ]:
x,y = map(int, input().split())


def check(i):
  if i%5==0 and i%7==0 :
    print('FizzBuzz')
  elif i%7==0:
    print('Buzz')
  elif i%5==0:
    print('Fizz')
  else:
    print(i)

for i in range(x,y+1):
  check(i)

35 40
FizzBuzz
36
37
38
39
Fizz


### unit22 리스트와 튜플 응용
```
<linear data structures>
 We will begin our study of data structures by
considering four simple but very powerful concepts. 
Stacks, queues,deques, and lists are examples of data collections whose items are ordered depending on how they are added or removed. 
```

- stack : last in first out (LIFO)

```s.push('dog')```[4,'dog']
- queue : first in first out (FIFO)

```s.push('dog')``` [4,'dog']
- deque : front, end 둘다 

```d.addRear('dog')```['dog',4,]

```d.addFront('cat')```['dog',4,'cat']


stack 과 queue 활용 할때 유용한 이유
- https://hee96-story.tistory.com/91
-  https://cocoon1787.tistory.com/691

In [ ]:
a=[1,2,3]
b=['a','b','c']

c = a+b
c

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
a.extend(b)
a

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
b.append('e')
b

['a', 'b', 'c', 'd', 'd', 'e']

In [ ]:
b.append(['e','f'])
b

['a', 'b', 'c', 'd', 'd', 'e', ['e', 'f']]

In [ ]:
#element 제거

#pop
#default 마지막 요소 삭제, 다른 index로 element삭제 가능
a = [10, 20, 30]
print(a.pop()) #마지막 요소 삭제
print(a)

#del 
#index 사용
a = [10, 20, 30]
del a[2] #요소 삭제
print(a)

#remove
#element 삭제
a = [10, 20, 30]
a.remove(30) 
print(a)

30
[10, 20]
[10, 20]
[10, 20]

In [ ]:
#element 제거

#pop
#마지막 요소 삭제
a = [10, 20, 30]
print(a.pop(2)) #마지막 요소 삭제
print(a)

30
[10, 20]

In [ ]:
### unit 23 

- mutable 과 immutable
- 메모리
- 리스트의 인덱스와 주소
- 
 copy deepcopy
 파이썬은 객체
 변수 할당 개염

우선 리스트는 mutable

In [ ]:
a = [1,2,3]
print(id(a))

a[0]=1024
list(id(a))

In [ ]:
a = [1,2,3]
b = copy.copy(a)